<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce | Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/account.css">
    </head>
    <body>
        <a href="home.html" class="back"><img src="../images/arrow-left-long-solid.svg" alt="back"></a>

        <p class="abt">Account Details</p>
        <div class="ans"><p>Username :</p><p>&nbsp&nbspAditya</p></div>
        <div class="ans"><p>Email-Id :</p><p>&nbsp&nbsplorem@gmail.com</p></div>
        <div class="ans"><p>Phone Number :</p><p>&nbsp&nbsp1234567890</p></div>

        <div class="addtocart"><p>Logout</p><img src="../images/inbox-solid.svg" alt="cart"></div>

        <p class="abt">Your Orders</p>
        <div class="orders">
            <div class="order">
                <img src="../images/poster13.jpeg" class="left" alt="left">
                <div class="right">
                    <p class="prod_name">Sony Playstation 5</p>
                    <img src="../images/4stars1.png" alt="stars" class="stars">
                    <p class="ans">Ordered on Monday, 17th September, 2022</p>
                    <p class="ans" style="margin-top: 5px;">Arriving by Wednesday</p>
                    <p class="check">Check Delivery Status</p>
                </div>
            </div>
        </div>
        
    </body>
</html>