<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce | Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/fonts.css">
        <link rel="stylesheet" href="../public/css/account.css">
    </head>
    <body>
        <a href="home.html" class="back"><img src="../images/arrow-left-long-solid.svg" alt="back"></a>

        <p class="abt">Account Details</p>
        <div class="ans"><p>Username :</p><p>&nbsp&nbspAditya</p></div>
        <div class="ans"><p>Email-Id :</p><p>&nbsp&nbsplorem@gmail.com</p></div>
        <div class="ans"><p>Phone Number :</p><p>&nbsp&nbsp1234567890</p></div>

        <div class="addtocart"><p>Logout</p><img src="../images/inbox-solid.svg" alt="cart"></div>

        <p class="abt">Your Orders</p>
        
        <div class="all">
            <div class="invoice">
                <p class="header">3 Item(s) Ordered</p>
                <div class="label">
                    <p>Ordered On:</p><p>&nbspFriday</p>
                </div>
                <div class="label">
                    <p>Order ID:</p><p>&nbsp 1923n12enmad</p>
                </div>
                <div class="label">
                    <p>Delivery By:</p><p>&nbsp Tomorrow</p>
                </div>
                <a href="/ordDet" class="det">Check Details</a>
            </div>
        </div>
    </body>
</html>