<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce | Cart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/cart.css">
    </head>
    <body>
        <a href="/home" class="back"><img src="../images/arrow-left-long-solid.svg" alt="back"></a>
        <p class="title">Your Cart</p>

        <div class="shop">
            <% for(let i=0; i<arr.length; i++) { %>
                <div class="item">
                    <img src="<%= arr[i].Prod_img %>" alt="product" class="prod_img">
                    <img src="../images/4stars1.png" alt="stars" class="stars"><p class="name"><%= arr[i].Prod_name %></p><p class="brand"><%= arr[i].Prod_brand %></p><p class="price"><%= arr[i].Prod_price %></p>
                    <img src="../images/trash-can-regular.svg" alt="del" class="del">
                </div>
            <% } %>
        </div>

        <div class="addtocart"><p>Order Now</p><img src="../images/cart-arrow-down-solid.svg" alt="cart"></div>
    </body>
</html>