<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce | Product</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/fonts.css">
        <link rel="stylesheet" href="../public/css/details.css">
    </head>
    <body>
        <a href="home.html" class="back"><img src="../public/images/arrow-left-long-solid.svg" alt="back"></a>

        <p class="prod_name">Sony Playstation 5</p>
        <img src="../public/images/4stars1.png" alt="stars" class="stars">
        <p class="desc">Sony Playstation 5, Limited Edition with 2 free Games, Gully Cricket, Don2, with 5 months free sony game pass.</p>
        <p class="price">Rs 58,999.00</p>

        <img class="prod_img" src="../public/images/poster13.jpeg" alt="prod">

        <p class="abt">About this Product</p>
        <div class="ans"><p>Brand :</p><p>&nbsp&nbspSony</p></div>
        <div class="ans"><p>Model Name :</p><p>&nbsp&nbspPlaystation 5</p></div>
        <div class="ans"><p>Color :</p><p>&nbsp&nbspWhite and Black</p></div>
        <div class="ans"><p>Availability :</p><p>&nbsp&nbspIn Stock</p></div>

        <div class="addtocart"><p>Add to Cart</p><img src="../public/images/cart-arrow-down-solid.svg" alt="cart"></div>
        <div class="addtocart" style="margin: 15px auto 70px auto; background-color: white; outline: 1px solid #3a3a3a;"><p>Add to Wishlist</p><img src="../public/images/medal-solid.svg" alt="cart"></div>
    </body>
</html>