<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce | Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/fonts.css">
        <link rel="stylesheet" href="../public/css/home.css">
    </head>
    <body>
        <div class="mob_topbar">
            <div class="search">
                <img src="../public/images/magnifying-glass-solid.svg" alt="search">
                <input type="text" name="SEARCH" placeholder="Search Items, Brands"> 
            </div>

            <img src="../public/images/cart-arrow-down-solid.svg" alt="cart" class="options">
            <img src="../public/images/user-solid.svg" alt="user" class="options">
        </div>

        <div class="slide"><img src="../public/images/poster1.webp" alt="poster"><p>Shop Now</p></div>

        <div class="category">
            <div>
                <img src="../public/images/men.jpg" alt="man">
                <p>MEN</p>
            </div>
            <div>
                <img src="../public/images/women.webp" alt="woman">
                <p>WOMEN</p>
            </div>
        </div>

        <div class="wall">
            <div><img src="../public/images/tags-solid.svg" alt="tag"><p>Best Deals</p></div>
            <div><img src="../public/images/percent-solid.svg" alt="tag"><p>Discounts</p></div>
            <div><img src="../public/images/ticket-solid.svg" alt="tag"><p>Voucher</p></div>
            <div><img src="../public/images/tags-solid.svg" alt="tag"><p>Event</p></div>
        </div>
        <div class="wall" style="margin-top:20px">
            <div><img src="../public/images/medal-solid.svg" alt="tag"><p>Favourite</p></div>
            <div><img src="../public/images/wallet-solid.svg" alt="tag"><p>Wallet</p></div>
            <div><img src="../public/images/coins-solid.svg" alt="tag"><p>Points</p></div>
            <div><img src="../public/images/caret-down-solid.svg" alt="tag"><p>More</p></div>
        </div>

        <div class="shop">
            <div class="item">
                <img src="../public/images/poster2.avif" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Shoes</p><p class="brand">Nike</p><p class="price">Rs 3000.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster4.avif" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Baggy Pants</p><p class="brand">Adidas</p><p class="price">Rs 3690.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster5.jpg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">iPhone Cover</p><p class="brand">Portronics</p><p class="price">Rs 1050.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster3.jpg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Biege Tracks</p><p class="brand">Performax</p><p class="price">Rs 2500.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster6.avif" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Hand Bag</p><p class="brand">Skybags</p><p class="price">Rs 799.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster7.jpeg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Smart Watch</p><p class="brand">Noise Fit</p><p class="price">Rs 1100.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster8.jpg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Graphic Card</p><p class="brand">Nvidia</p><p class="price">Rs 29,999.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster9.jpg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Football</p><p class="brand">UEFA</p><p class="price">Rs 2999.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster10.jpg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Toy Gun</p><p class="brand">Nerf</p><p class="price">Rs 2599.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster11.jpg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Laptop</p><p class="brand">DELL</p><p class="price">Rs 69,999.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster12.png" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Carvaan</p><p class="brand">Radio</p><p class="price">Rs 2499.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster13.jpeg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Playstation 5</p><p class="brand">Sony</p><p class="price">Rs 58,999.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster14.jpg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">i9 Processor</p><p class="brand">Intel</p><p class="price">Rs 24,999.00</p>
            </div>
            <div class="item">
                <img src="../public/images/poster15.jpeg" alt="product" class="prod_img">
                <img src="../public/images/4stars1.png" alt="stars" class="stars"><p class="name">Ak-47</p><p class="brand">Al-Qaeda</p><p class="price">Free</p>
            </div>
        </div>

        <script src="../public/js/home.js"></script>
    </body>
</html>