<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce | Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/register.css">
    </head>
    <body>
        <p class="logo">E-COMMERCE</p>
        <form class="mob_form" autocomplete="off">
            <p class="head">Create a new Account</p>
            <p class="desc">Enter the required Information to start Shopping!</p>

            <div class="inp">
                <img src="../images/circle-user-regular.svg" alt="user">
                <input type="text" name="USERNAME" placeholder="e.g Jane Doe">
            </div>
            <p class="error">Username must be atleast of 4 Characters</p>

            <div class="inp">
                <img src="../images/inbox-solid.svg" alt="user">
                <input type="text" name="EMAIL" placeholder="e.g JaneDoe@lorem.com">
            </div>
            <p class="error">Invalid Email-Id</p>

            <div class="inp">
                <img src="../images/fingerprint-solid.svg" alt="pass">
                <input type="password" name="PASSWORD" placeholder="Type your Password">
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" class="eye">
                <path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/>
            </svg>
            <p class="error" style="bottom:18px;">Password must be atleast 8 Characters</p>

            <button type="submit">Create</button>

            <div class="OR">
                <div></div>
                <p>OR</p>
                <div></div>
            </div>

            <div class="social">
                <div><img src="../images/gmail.png" alt="gmail"><p>Google</p></div>
                <div><img src="../images/facebook.webp" alt="fb"><p>Facebook</p></div>
            </div>
        </form>

        <div class="reg">
            <p>Already have an existing Account? &nbsp</p>
            <a href="./login.html">Login</a>
        </div>

        <script src="../js/register.js"></script>
    </body>
</html>