<!DOCTYPE html>
<html lang="en">
    <head>
        <title>E-Commerce | Warning</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/warning.css">
    </head>
    <body>
        <p class="logo">E-COMMERCE</p>
        <p class="desc">Please Login to Continue</p>
        <a href="/">Login to your Account</a>
        <a href="/register">Create a new Account</a>
    </body>
</html>