*{-webkit-tap-highlight-color: transparent; display:flex; text-decoration: none;}

head{display: none;}

body
{
    flex-direction: column;
    margin: 0;
    width: 100%;
    font-size: 0;
}

.back{margin:20px auto 0px 20px;}
.back img{width:30px; height: auto;}

.title
{
    font:22px Montserrat-Bold;
    color:rgba(204,44,0);
    margin:20px auto 0px auto;
}

.shop
{
    margin:30px auto 0px auto;
    max-width: 92%;
    width:92%;
    flex-wrap: wrap;
}

.item 
{
    flex-direction: column;
    margin:15px auto 0px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.prod_img 
{
    width:160px;
    height: 175px;
    margin:0;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);
}

.stars
{
    height:15px;
    width: auto;
    margin:10px auto 0px 5px;
}

.name, .brand, .price
{
    font:17px Montserrat-Medium;
    color:black;
    margin:2px auto 0px 5px;
}

.brand
{
    font:13px Montserrat-Regular;
    color:#3a3a3a;
}

.price
{
    font-size:13px;
    color:rgb(255,95,51);
}

.del
{
    width:20px;
    height: 20px;
    padding: 7px;
    margin:0px 5px 10px auto;
    padding: 7px;
    transition-property: transform;
    transition-duration: 0.5s;
}

.addtocart
{
    width:90%;
    margin:50px auto 70px auto;
    padding:7px 0px 7px 0px;
    background-color: rgba(255,175,153);
    border-radius: 50px;
    cursor: pointer;
}

.addtocart p 
{
    font:20px Montserrat-Medium;
    color:#3a3a3a;
    margin:auto 10px auto auto;
}

.addtocart img 
{
    width:25px;
    height: 25px;
    margin:auto auto auto 10px;
}

@media screen and (min-width:800px)
{
    .item:hover {background-color: rgb(218, 218, 218); outline:1px solid rgba(114, 114, 114, 0.5)}

    .prod_img {width: 180px; height: 200px;}

    .shop {width:95%; max-width: 95%;}

    .shop .item:nth-child(13)
    {
        margin-right: 2%;
    }    

    .del:hover{transform: translate3d(3px,3px,3px);}

    .addtocart{width:60%;}

    .addtocart:hover {background-color:rgb(213, 146, 127);}
}