*{-webkit-tap-highlight-color: transparent; display:flex; text-decoration: none;}

head{display: none;}

body
{
    flex-direction: column;
    margin: 0;
    width: 100%;
    font-size: 0;
}

.back{margin:20px auto 0px 20px;}
.back img{width:30px; height: auto;}

.prod_name
{
    font:22px Montserrat-ExtraBold;
    color:#3a3a3a;
    margin:20px auto 0px 20px;
    max-width: 90%;
    word-wrap: break-word;
}

.stars
{
    height:20px;
    width: auto;
    margin:5px auto 0px 20px;
}

.desc
{
    font:18px Montserrat-Medium;
    color:#3a3a3a;
    margin:10px auto 0px 20px;
    max-width: 90%;
    word-wrap: break-word;
}

.prod_img
{
    width:90%;
    height: 400px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.3);
    margin:20px auto 0px auto;
}

.price
{
    font:20px Montserrat-Medium;
    color:rgba(204,44,0);
    margin:10px auto 0px 20px;
}

.abt
{
    font:20px Montserrat-Bold;
    color:rgba(204,44,0);
    margin:30px auto 0px 20px;
}

.ans{margin:10px auto 0px 20px;}

.ans p:nth-child(1)
{
    font:15px Montserrat-Medium;
    color:#3a3a3a;
    margin:auto 0px auto 0px;
}

.ans p:nth-child(2)
{
    font:15px Montserrat-Regular;
    color:#3a3a3a;
    margin:auto 0px auto 0px;
}

.addtocart
{
    width:90%;
    margin:30px auto 0px auto;
    padding:7px 0px 7px 0px;
    background-color: rgba(255,175,153);
    border-radius: 50px;
    cursor: pointer;
}

.addtocart p 
{
    font:20px Montserrat-Medium;
    color:#3a3a3a;
    margin:auto 10px auto auto;
}

.addtocart img 
{
    width:25px;
    height: 25px;
    margin:auto auto auto 10px;
}

.pc_grid{display: none;}

@media screen and (min-width:800px)
{
    .desc, .abt, .ans, .addtocart, .prod_img, .price{display: none;}

    .pc_grid, .pc_grid .desc, .pc_grid .abt, .pc_grid .ans, .pc_grid .addtocart, .pc_grid .prod_img, .pc_grid .price{display: flex;}

    .pc_grid{margin:40px auto 50px auto; width:92%; max-width: 92%;}

    .pc_grid .prod_img{width: 300px; height: 400px; margin:0px auto auto auto;}

    .right
    {
        flex-direction: column;
        margin:auto auto auto 30px;
    }

    .pc_grid .addtocart{width:60%;}

    .pc_grid .addtocart:hover {background-color: rgb(205, 204, 204);}

    .pc_grid div:nth-child(8):hover {background-color:rgb(213, 146, 127) ;}
}