*{-webkit-tap-highlight-color: transparent; display:flex; text-decoration: none;}

head{display: none;}

body
{
    flex-direction: column;
    margin: 0;
    width: 100%;
    font-size: 0;
}

.back{margin:20px auto 0px 20px;}
.back img{width:30px; height: auto;}

form
{
    flex-direction: column;
    padding:10px 20px 10px 20px;
    margin:40px auto 100px auto;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.3);
}

.header
{
    font:25px Montserrat-Regular;
    color:black;
    margin:5px auto 0px 0px;
}

.label
{
    font:15px Montserrat-Regular;
    color:#3a3a3a;
    margin:10px auto 0px 0px;
}

input[type="text"]
{
    border:1px solid rgba(0, 0, 0, 1);
    margin:5px auto 0px 0px;
    font:12px Montserrat-Regular;
    width: 250px;
    max-width: 250px;
    padding: 3px 0px 3px 5px;
}

input[type="text"]:focus
{
    outline: none;
}

textarea
{
    resize: none;
    margin:5px auto 0px 0px;
    overflow-y: scroll;
    width:250px;
    max-width: 250px;
    padding: 3px 0px 3px 5px;
    border:1px solid rgba(0, 0, 0, 1);
    height: 150px;
    max-height: 150px;
    word-wrap: break-word;
    font:13px Montserrat-Regular;
}

textarea:focus
{
    outline: none;
}

input[type="submit"]
{
    padding:8px 40px 8px 40px;
    border-radius: 50px;
    border:none;
    color:white;
    font:15px Montserrat-Medium;
    width: fit-content;
    margin:20px auto 0px auto;
    cursor: pointer;
    box-shadow: 0 0 20px #eee;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events:none;
}

@media screen and (min-width:800px)
{
    input[type="text"], textarea
    {
        width:700px;max-width: 700px;
    }

    textarea
    {
        height: 200px;
        max-height: 200px;
    }
}